.root {
  max-height: 100vh;
}


.image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}


.paddingImg {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 10vh;
  min-width: 10vw;
}

.slick-dots li {
  width: 30% !important;
}
