@import '../../styles/utils';

.root {
  max-height: 100vh;
  height: 100vh;
}

.sliderWrap {
  padding: 5rem;
  overflow: hidden;


  @include small {
    padding: 30vh 0 0 0;
  }
}

.paging {
  overflow-y: hidden;
}
