@import '../styles/utils';

.portrait {
  padding: 150px;
  @include small {
    padding: 50px;
  }
}


.perfImage {
  @include medium {
    padding: 100px 0;
  }
}


.story {
  padding-top: 300px;
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  .item {
    max-width: 45%;
  }
  img {
    object-fit: contain;
  }


  @include medium {
    flex-direction: column;

    .item {
      max-width: unset;
    }
  }
}

.contact {
  padding-top: 300px;
  max-width: 80%;
  margin: auto;
  text-align: center;

  a {
    color: gray;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}


