@import '../../styles/utils';

.header {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  width: 100vw;
  z-index: 9;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-family: $fontFamily;
  color: $textColor;

  @include medium {
    padding: 2rem;
  }
}
.logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  min-height: 100px;
  width: 150px;
}
.link {
  font-family: $fontFamily;
  font-size: 1rem;
  font-weight: lighter;
  color: $textColor;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    padding-left: 2rem;
    cursor: pointer;
    opacity: 0.8;
  }
  a:hover {
    opacity: 1;
  }
}
