@import '../../styles/utils';

.header {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  width: 100vw;
  z-index: 9;
  margin: 0 auto;
  padding: 1rem 5rem;
  font-family: $fontFamily;
  color: $textColor;

  @include small {
    padding: 1rem;
  }
}
.logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  min-height: 120px;
  width: 220px;
}
.link {
  font-family: $fontFamily;
  font-size: 1rem;
  font-weight: lighter;
  color: $textColor;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    color: gray;
    text-decoration: none;
    padding-left: 2rem;
    cursor: pointer;
    opacity: 0.8;
  }
  a:hover {
    opacity: 1;
  }

  @include small {
    padding-top: 40px;
    padding-right: 20px;
    flex-direction: column;
    align-items: flex-end;
  }
}
